/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	max-width: 46%;
	margin-left: 27%;
}

div.head nav {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
}

div.head nav a {
	color: #cdcdcd;
	text-decoration: none;
}

div.top1 {
	margin-top: 70px;
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;
}

div.top1 div {
	margin-top: 60px;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
}

div.top1 div h1 {
	text-align: center;
	font-size: 70px;
}

div.top1 div button {
	background-color: none;
	border: black solid 1px;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	margin: 0px 70px;
}

div.mid {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: column;
}

div.mid .top, div.mid .bottom {
	display: flex;
	justify-content: space-between;
}

div.mid .top section, div.mid .bottom section {
	width: 49.299%;
	margin-top: 35px;
	margin-bottom: 35px;
	display: flex;
	flex-direction: column;
}

div.mid .bottom section {
	width: 32%;
}

footer.footer1 {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
}

footer.footer1 p {
	margin-bottom: 100px;
	margin-top: 50px;
	align-self: center;
}

@media (max-width: 500px) {
	body {
		max-width: 100%;
		margin-left: 0%;
	}

	div.head nav {
		margin-top: 35px;
		display: flex;
		flex-direction: column;
		width: 30%;
		justify-content: space-between;
	}

	div.top1 {
		margin-top: 70px;
		margin-bottom: 70px;
		display: flex;
		flex-direction: column;
	}

	div.top1 img {
		margin-top: 50px;
		width: 75%;
		align-self: center;
	}
	
	div.top1 div {
		margin-top: 0px;
		margin-left: 0px;
		display: flex;
		flex-direction: column;
	}
	
	div.top1 div h1 {
		text-align: center;
		font-size: 70px;
	}
	
	div.top1 div button {
		background-color: none;
		border: black solid 1px;
		text-align: center;
		text-decoration: none;
		padding: 5px;
		width: 40%;
		align-self: center;
	}
}

@media (max-width: 800px) {
	body {
		max-width: 100%;
		margin-left: 0%;
	}

	div.head nav {
		margin-top: 35px;
		display: flex;
		flex-direction: column;
		width: 30%;
		justify-content: space-between;
	}

	div.top1 {
		margin-top: 70px;
		margin-bottom: 70px;
		display: flex;
		flex-direction: column;
	}

	div.top1 img {
		margin-top: 50px;
		align-self: center;
	}
	
	div.top1 div {
		margin-top: 0px;
		margin-left: 0px;
		display: flex;
		flex-direction: column;
	}
	
	div.top1 div h1 {
		text-align: center;
		font-size: 70px;
	}
	
	div.top1 div button {
		background-color: none;
		border: black solid 1px;
		text-align: center;
		text-decoration: none;
		padding: 5px;
		width: 40%;
		align-self: center;
	}
}