/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* common */

body {
	margin: 0px 510px;
}

div.head nav {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
}

div.head nav a {
	color: #cdcdcd;
	text-decoration: none;
}

/* index.html */

div.top1 {
	margin-top: 70px;
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;
}

div.top1 div {
	margin-top: 60px;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
}

div.top1 div h1 {
	text-align: center;
	font-size: 70px;
}

div.top1 div button {
	background-color: none;
	border: black solid 1px;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	margin: 0px 70px;
}

div.mid {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: column;
}

div.mid .top, div.mid .bottom {
	display: flex;
}

div.mid .top section, div.mid .bottom section {
	margin-bottom: 35px;
	margin-top: 35px;
}

div.mid .bottom section {
	margin-right: 15px;
}

footer.footer1 {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
}

footer.footer1 p {
	margin-bottom: 100px;
	margin-top: 50px;
	align-self: center;
}

/* Services.html */

div.top2 {
	margin-top: 20px;
}

div.top2 h1 {
	font-size: 25px;
	margin-top: 25px;
}

div.top2, div.mid2 {
	display: flex;
	flex-direction: column;
}

div.mid2 {
	display: flex;
	border-top: black solid 1px;
	border-bottom: black solid 1px;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 40px;
}

div.mid2 .top, div.mid2 .mid3, div.mid2 .bottom {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
}

div.mid2 section {
	display: flex;
	flex-direction: column;
	background: #f4f3f4;
	border: black solid 1px;
	padding: 10px;
	width: 410px;
	margin-top: 40px;
}

div.mid2 h2 {
	margin-top: 5px;
}

div.mid2 button {
	align-self: flex-start;
	background-color: #ffffff;
	border: black solid 1px;
	border-radius: 5px;
	padding: 7px 30px;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 5px;
}

footer.footer2 {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

footer.footer2 div {
	display: flex;
	justify-content: space-between;
}

footer.footer2 div div{
	display: flex;
	flex-direction: column;
	width: 400px;
}

footer.footer2 div div ul li {
	list-style-type: square;
	margin-top: 15px;
	margin-left: 17px;
}

footer.footer2 p {
	margin-bottom: 15px;
}

footer.footer2 p.copyright {
	margin-top: 100px;
	align-self: center;
}